{% extends 'base.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<style>
		.main-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.main-wrapper p {
			margin: 0;
			padding: 0;
		}
		.evenement {
			border: 1px solid black;
			border-radius: 5px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
			-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.50);
			-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.50);
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.50);
		}
		.evenement h2 {
			margin-left: 10px;
			margin-top: 10px;
		}
		.evenement p,
		.evenement iframe {
			margin-left: 10px;
			border-style: none;
		}
		#organisateurEvenement {
			position: relative;
			right: 0;
		}
		.evenement a {
			width: 100%;
			clear: both;
			text-align: center;
			margin: 0;
			border-radius: 0;
		}
		.contenu p {
			margin: 10px;
			font-size: 90%;
		}
		.commentaire {
			border: 1px solid skyblue;
			border-radius: 5px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
			-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.50);
			-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.50);
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.50);
			margin-top: 20px;
		}
		.commentaire p {
			margin: 10px;
		}
	</style>

	<div class="main-wrapper">
		<div class="evenement">
			{% if app.user == evenement.compte or is_granted('ROLE_ADMIN') %}
				<h2>{{evenement.titre}}
					<a href="{{ path("evenement_modifier",{"id_evenement":evenement.id}) }}">
						<i class="material-icons" title="Modifier">create</i>
					</a>
					<a href="{{ path("evenement_supprimer",{"id_evenement":evenement.id}) }}">
						<i class="material-icons" style="color:crimson;" title="Supprimer">delete</i>
					</a>
				</h2>
			{% elseif app.user != evenement.compte %}
				<h2>{{evenement.titre}}
				</h2>
			{% endif %}
			<hr>
			<p id="organisateurEvenement">
				<i class="material-icons">person</i>Auteur:
				{{ evenement.compte.username }}</p>
			<p>
				<i class="material-icons">add_to_queue</i>
				Ajouté le
				{{ evenement.dateCreation | date('d/m/Y') }}
				à
				{{ evenement.dateCreation | date('H:i')}}
				dans la categorie
				{{ evenement.categories.nom }}.
			</p>
			<p>
				<i class="material-icons" style="color:crimson;">fiber_manual_record</i>
				En direct le
				{{ evenement.dateDebut | date('d/m/Y') }}
				à
				{{ evenement.dateDebut | date('H:i')}}.
			</p>
			<div class="contenu">
				<iframe width="560" height="315" src="{{evenement.video}}" alt=""></iframe>
				<p>{{evenement.contenu | raw }}</p>
			</div>
		</div>
		<br>
		<div class="commentaires">
			<h3>Commentaires</h3>
			<hr>
			{% for commentaire  in lesCommentaires %}
				<div class="commentaire">
					<p>
						<i class="material-icons">person</i>
						{{commentaire.compte.username}}
						(<small>{{commentaire.dateCommentaire | date('d/m/Y a H:i')}}</small>)
						{% if app.user == commentaire.compte or is_granted('ROLE_ADMIN') %}
							<a href="{{ path("commentaire_modifier",{"id_commentaire":commentaire.id}) }}">
								<i class="material-icons" title="Modifier">create</i>
							</a>
							<a href="{{ path("commentaire_supprimer",{"id_commentaire":commentaire.id}) }}">
								<i class="material-icons" style="color:crimson;" title="Supprimer">delete</i>
							</a>
						{% endif %}
					</p>
					<p>{{commentaire.contenu | raw}}</p>
				</div>
			{% endfor %}
			<br>
			{% if not app.user %}
				<p>Vous devez être connecté pour poster un commentaire.</p>
				<br>
				<p>
					<a href="{{ path('login') }}">Se connecter</a>
					ou
					<a href="{{ path('register') }}">S'inscrire</a>
				</p>
			{% elseif app.user %}
				{{ form_start(form) }}
				{{ form_row(form.contenu)}}
				{{ form_row(form.envoyer)}}
				{{ form_end(form) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
