{% extends 'base.html.twig' %}
{%form_theme formulaireEvenement 'bootstrap_4_layout.html.twig'%}
{% block body %}
<h1>Creation d'un evenement</h1>

{{form_start(formulaireEvenement)}}
{{form_row(formulaireEvenement.titre,{'attr':{'placeholder':"Titre de
l'evenement"}})}}
{{form_row(formulaireEvenement.contenu,{'attr':{'placeholder':"Contenu de
l'evenement"}})}}
{{form_row(formulaireEvenement.video,{'attr':{'placeholder':"Lien video de
l'evenement"}})}}
<button type="submit" class="btn btn-success">
{%if editMode%}
ENREGISTRER LES MODIFICATIONS
{%else%}
AJOUTER EVENEMENT
{%endif%}
</button>
{{form_end(formulaireEvenement)}}

{% endblock %}