{% extends 'base.html.twig' %}

{% block body %}
<section class="evenements">
<evenement>
        <h2>{{evenement.titre}}</h2>
        <div class="metadata"> ecrit  {{ evenement.dateCreation | date
        ('d/m/Y') }}  a {{ evenement.dateCreation | date('H:i')}}
        dans la categorie politique
        </div>
        <div class="contenu">
          <iframe width="560" height="315" src="{{evenement.video}}" alt=""></iframe>
           {{evenement.contenu |raw }}
        </div>
    </evenement>
    </section>
{% endblock %}